In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
opposition = "france"
# opposition = "senegal"
#get raw data
passing_network = pd.read_csv(filepath_or_buffer=rf"..\data\england_passing_data_vs_{opposition}.csv")
passing_network

,Passes From v to >,PICKFORD Jordan,WALKER Kyle,SHAW Luke,RICE Declan,STONES John,MAGUIRE Harry,HENDERSON Jordan,KANE Harry,SAKA Bukayo,FODEN Phil,BELLINGHAM Jude
0,PICKFORD Jordan,NaN,1.0,4.0,3.0,3.0,7.0,0.0,0.0,1.0,0.0,0.0
1,WALKER Kyle,1.0,NaN,2.0,5.0,13.0,4.0,2.0,1.0,5.0,0.0,2.0
2,SHAW Luke,1.0,2.0,NaN,8.0,6.0,17.0,1.0,1.0,0.0,4.0,6.0
3,RICE Declan,1.0,7.0,8.0,NaN,5.0,14.0,2.0,6.0,2.0,6.0,2.0
4,STONES John,4.0,6.0,6.0,11.0,NaN,17.0,13.0,1.0,5.0,1.0,4.0
5,MAGUIRE Harry,4.0,4.0,15.0,7.0,25.0,NaN,7.0,1.0,3.0,4.0,5.0
6,HENDERSON Jordan,0.0,6.0,1.0,4.0,5.0,7.0,NaN,1.0,5.0,2.0,5.0
7,KANE Harry,0.0,2.0,1.0,1.0,0.0,2.0,1.0,NaN,2.0,1.0,1.0
8,SAKA Bukayo,0.0,2.0,0.0,2.0,1.0,0.0,6.0,4.0,NaN,1.0,1.0
9,FODEN Phil,0.0,0.0,2.0,2.0,1.0,1.0,3.0,1.0,1.0,NaN,6.0
10,BELLINGHAM Jude,0.0,1.0,10.0,4.0,3.0,5.0,3.0,1.0,4.0,3.0,NaN

In [3]:
#sum up the total pass each person does
passing_network["total_passes"] = passing_network.sum(axis='columns', numeric_only=True)
passing_network

,Passes From v to >,PICKFORD Jordan,WALKER Kyle,SHAW Luke,RICE Declan,STONES John,MAGUIRE Harry,HENDERSON Jordan,KANE Harry,SAKA Bukayo,FODEN Phil,BELLINGHAM Jude,total_passes
0,PICKFORD Jordan,NaN,1.0,4.0,3.0,3.0,7.0,0.0,0.0,1.0,0.0,0.0,19.0
1,WALKER Kyle,1.0,NaN,2.0,5.0,13.0,4.0,2.0,1.0,5.0,0.0,2.0,35.0
2,SHAW Luke,1.0,2.0,NaN,8.0,6.0,17.0,1.0,1.0,0.0,4.0,6.0,46.0
3,RICE Declan,1.0,7.0,8.0,NaN,5.0,14.0,2.0,6.0,2.0,6.0,2.0,53.0
4,STONES John,4.0,6.0,6.0,11.0,NaN,17.0,13.0,1.0,5.0,1.0,4.0,68.0
5,MAGUIRE Harry,4.0,4.0,15.0,7.0,25.0,NaN,7.0,1.0,3.0,4.0,5.0,75.0
6,HENDERSON Jordan,0.0,6.0,1.0,4.0,5.0,7.0,NaN,1.0,5.0,2.0,5.0,36.0
7,KANE Harry,0.0,2.0,1.0,1.0,0.0,2.0,1.0,NaN,2.0,1.0,1.0,11.0
8,SAKA Bukayo,0.0,2.0,0.0,2.0,1.0,0.0,6.0,4.0,NaN,1.0,1.0,17.0
9,FODEN Phil,0.0,0.0,2.0,2.0,1.0,1.0,3.0,1.0,1.0,NaN,6.0,17.0
10,BELLINGHAM Jude,0.0,1.0,10.0,4.0,3.0,5.0,3.0,1.0,4.0,3.0,NaN,34.0

In [4]:
#perform arithmetic on the absolute passing statistics and persist the passes
#from and to column

passing_network_as_percents = pd.concat([passing_network["Passes From v to >"],
    (passing_network.iloc[:,1:-1].div(passing_network["total_passes"].values,
         axis = 0)).multiply(100).round(2)], axis = 1)

passing_network_as_percents

,Passes From v to >,PICKFORD Jordan,WALKER Kyle,SHAW Luke,RICE Declan,STONES John,MAGUIRE Harry,HENDERSON Jordan,KANE Harry,SAKA Bukayo,FODEN Phil,BELLINGHAM Jude
0,PICKFORD Jordan,NaN,5.26,21.05,15.79,15.79,36.84,0.00,0.00,5.26,0.00,0.00
1,WALKER Kyle,2.86,NaN,5.71,14.29,37.14,11.43,5.71,2.86,14.29,0.00,5.71
2,SHAW Luke,2.17,4.35,NaN,17.39,13.04,36.96,2.17,2.17,0.00,8.70,13.04
3,RICE Declan,1.89,13.21,15.09,NaN,9.43,26.42,3.77,11.32,3.77,11.32,3.77
4,STONES John,5.88,8.82,8.82,16.18,NaN,25.00,19.12,1.47,7.35,1.47,5.88
5,MAGUIRE Harry,5.33,5.33,20.00,9.33,33.33,NaN,9.33,1.33,4.00,5.33,6.67
6,HENDERSON Jordan,0.00,16.67,2.78,11.11,13.89,19.44,NaN,2.78,13.89,5.56,13.89
7,KANE Harry,0.00,18.18,9.09,9.09,0.00,18.18,9.09,NaN,18.18,9.09,9.09
8,SAKA Bukayo,0.00,11.76,0.00,11.76,5.88,0.00,35.29,23.53,NaN,5.88,5.88
9,FODEN Phil,0.00,0.00,11.76,11.76,5.88,5.88,17.65,5.88,5.88,NaN,35.29
10,BELLINGHAM Jude,0.00,2.94,29.41,11.76,8.82,14.71,8.82,2.94,11.76,8.82,NaN

In [5]:
# Figure out how to make an edgelist with the top x connections 
cutoff_players = 2
edge_weighting_factor = 100
nplayers = len(passing_network_as_percents)
player_data_df = pd.DataFrame()
edgelist = pd.DataFrame()

for i in range(nplayers):
    player_to_last_name = []
    player_data_to = passing_network_as_percents.iloc[i,1:] #data on player being passed to
    player_from = passing_network_as_percents.iloc[i,0].split()[0] #last name name of player doing the passing

    #sort the values 
    player_data_to.sort_values(ascending=False, inplace=True)
    
    #extract last names 
    for player_name in player_data_to.iloc[:cutoff_players].index:
        player_to_last_name.append(player_name.split()[0])

    player_data_df["From"] = [player_from] * cutoff_players
    player_data_df["To"] = player_to_last_name
    player_data_df["value"] = player_data_to[:cutoff_players].values / edge_weighting_factor
    
    #append to higher dataframe
    edgelist = edgelist.append(player_data_df, ignore_index=True)
# player_data_df.head(cutoff_players)
edgelist

C:\Users\Sid Murthy\AppData\Local\Temp\ipykernel_11748\1095158536.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  edgelist = edgelist.append(player_data_df, ignore_index=True)

          From          To   value
0     PICKFORD     MAGUIRE  0.3684
1     PICKFORD        SHAW  0.2105
2       WALKER      STONES  0.3714
3       WALKER        RICE  0.1429
4         SHAW     MAGUIRE  0.3696
5         SHAW        RICE  0.1739
6         RICE     MAGUIRE  0.2642
7         RICE        SHAW  0.1509
8       STONES     MAGUIRE    0.25
9       STONES   HENDERSON  0.1912
10     MAGUIRE      STONES  0.3333
11     MAGUIRE        SHAW     0.2
12   HENDERSON     MAGUIRE  0.1944
13   HENDERSON      WALKER  0.1667
14        KANE      WALKER  0.1818
15        KANE     MAGUIRE  0.1818
16        SAKA   HENDERSON  0.3529
17        SAKA        KANE  0.2353
18       FODEN  BELLINGHAM  0.3529
19       FODEN   HENDERSON  0.1765
20  BELLINGHAM        SHAW  0.2941
21  BELLINGHAM     MAGUIRE  0.1471

In [6]:
#now to use networkx
import networkx as nx
G = nx.from_pandas_edgelist(edgelist,
                            source="From",
                            target="To",
                            edge_attr="value",
                            create_using=nx.DiGraph())

In [7]:
# import pyvis
from pyvis.network import Network
# create vis network
net = Network(notebook=True, width=1000, height=600, directed=True)
# load the networkx graph
net.from_nx(G)

#specify node positions for visuals
formation = {"PICKFORD":(0,0),
             "WALKER":(-500,110),
             "SHAW":(500,110),
             "RICE":(0,200),
             "STONES":(-300,100),
             "MAGUIRE":(300,100),
             "HENDERSON":(-300,250),
             "KANE":(0,600),
             "SAKA":(-500,500),
             "FODEN":(500,500),
             "BELLINGHAM":(300,250)}


for i,node in enumerate(net.nodes):
    
    node.update({'size':50,
                 'physics':False,
                 'x':formation[node["label"]][0],
                 'y':formation[node["label"]][1]})
# show
net.force_atlas_2based()
net.show_buttons(filter_=['physics'])
net.show(f"../outputs/passing_network_vs_{opposition}.html")

Local cdn resources have problems on chrome/safari when used in jupyter-notebook.

In [8]:
formation[node["label"]][0]

300

In [9]:
net.nodes

[{'color': '#97c2fc',
  'size': 50,
  'id': 'PICKFORD',
  'label': 'PICKFORD',
  'shape': 'dot',
  'physics': False,
  'x': 0,
  'y': 0},
 {'color': '#97c2fc',
  'size': 50,
  'id': 'MAGUIRE',
  'label': 'MAGUIRE',
  'shape': 'dot',
  'physics': False,
  'x': 300,
  'y': 100},
 {'color': '#97c2fc',
  'size': 50,
  'id': 'SHAW',
  'label': 'SHAW',
  'shape': 'dot',
  'physics': False,
  'x': 500,
  'y': 110},
 {'color': '#97c2fc',
  'size': 50,
  'id': 'STONES',
  'label': 'STONES',
  'shape': 'dot',
  'physics': False,
  'x': -300,
  'y': 100},
 {'color': '#97c2fc',
  'size': 50,
  'id': 'RICE',
  'label': 'RICE',
  'shape': 'dot',
  'physics': False,
  'x': 0,
  'y': 200},
 {'color': '#97c2fc',
  'size': 50,
  'id': 'WALKER',
  'label': 'WALKER',
  'shape': 'dot',
  'physics': False,
  'x': -500,
  'y': 110},
 {'color': '#97c2fc',
  'size': 50,
  'id': 'HENDERSON',
  'label': 'HENDERSON',
  'shape': 'dot',
  'physics': False,
  'x': -300,
  'y': 250},
 {'color': '#97c2fc',
  'size': 50,
  'id': 'KANE',
  'label': 'KANE',
  'shape': 'dot',
  'physics': False,
  'x': 0,
  'y': 600},
 {'color': '#97c2fc',
  'size': 50,
  'id': 'SAKA',
  'label': 'SAKA',
  'shape': 'dot',
  'physics': False,
  'x': -500,
  'y': 500},
 {'color': '#97c2fc',
  'size': 50,
  'id': 'FODEN',
  'label': 'FODEN',
  'shape': 'dot',
  'physics': False,
  'x': 500,
  'y': 500},
 {'color': '#97c2fc',
  'size': 50,
  'id': 'BELLINGHAM',
  'label': 'BELLINGHAM',
  'shape': 'dot',
  'physics': False,
  'x': 300,
  'y': 250}]